.pagesheaderpage{
    background:var(--backgroundColor)
}
.pagesheaderpage .otherpagestitle{
    font-size: 50px;
    color:#fff;
    font-family: var(--textFamily);
    padding: 30px 0px;
    font-weight: 700;
    text-transform: capitalize;
}
.pagesheaderpage .otherpagestitle span{
    color:var(--primaryColor);
}