.modalBackground{
    width: 83%;
    height: 75%; 
    overflow-y: hidden!important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90px;
}
.modalContainer{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: flex;
    background: rgb(216, 208, 208);
    color:black;
    padding: 10px;
}
.modaltypeform{
    width: 96%;
}
.modaltypeform iframe{
    width: 100%;
    height: 420px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}
.closeBtn{
    padding-left: 10px;
}
.closeBtn button{
    border: none;
    color: red;
    font-size: 24px;
    background: var(--purpleColor);
    transition: 0.4s all ease;
    padding: 15px;
}
.closeBtn button:hover{
    background:var(--primaryColor)
}