*{
  margin:0;
  padding:0;
}

:root{
  --blackColor: #555454;
  --cursiveFamily:'Great Vibes', cursive;
  --indieFamily: 'Indie Flower', cursive;
  --headingFamily:'Quicksand', sans-serif;
  --textFamily: 'Lato', sans-serif;
  --purpleColor:rgb(172, 11, 187);
  --primaryColor: #ffdd40;
  --backgroundColor: rgb(245, 245, 164);
}